In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline


#df=pd.read_excel("datasets/H-1B_Disclosure_Data_FY2018_Q4_EOY.xlsx")
#df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-18026-338377,CERTIFIED,2018-01-29,2018-02-02,H-1B,2018-07-28,2021-07-27,MICROSOFT CORPORATION,NaN,1 MICROSOFT WAY,...,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaT
1,I-200-17296-353451,CERTIFIED,2017-10-23,2017-10-27,H-1B,2017-11-06,2020-11-06,ERNST & YOUNG U.S. LLP,NaN,200 PLAZA DRIVE,...,N,N,NaN,NaN,NaN,SANTA CLARA,SAN JOSE,CA,95110,NaT
2,I-200-18242-524477,CERTIFIED,2018-08-30,2018-09-06,H-1B,2018-09-10,2021-09-09,LOGIXHUB LLC,NaN,320 DECKER DRIVE,...,N,N,NaN,NaN,NaN,IRVING,DALLAS,TX,75062,NaT
3,I-200-18070-575236,CERTIFIED,NaT,2018-03-30,H-1B,2018-09-10,2021-09-09,"HEXAWARE TECHNOLOGIES, INC.",NaN,101 WOOD AVENUE SOUTH,...,Y,N,Y,NaN,NaN,NEW CASTLE,NEW CASTLE,DE,19720,NaT
4,I-200-18243-850522,CERTIFIED,2018-08-31,2018-09-07,H-1B,2018-09-07,2021-09-06,"ECLOUD LABS,INC.",NaN,120 S WOOD AVENUE,...,Y,N,Y,Y,NaN,BIRMINGHAM,SHELBY,AL,35244,NaT

In [6]:
# see and change the number of columns to display
pd.set_option("display.max_columns",80)
print(pd.get_option("display.max_columns"))

80

In [92]:
# create subset dataframes from original
#subset_df=df[["CASE_STATUS","AGENT_REPRESENTING_EMPLOYER","TOTAL_WORKERS","NEW_EMPLOYMENT","CONTINUED_EMPLOYMENT","CHANGE_PREVIOUS_EMPLOYMENT","NEW_CONCURRENT_EMP","CHANGE_EMPLOYER","AMENDED_PETITION","FULL_TIME_POSITION","PREVAILING_WAGE","WAGE_RATE_OF_PAY_FROM","WAGE_RATE_OF_PAY_TO","WILLFUL_VIOLATOR"]]

In [94]:
# store subset as pickle to disk
subset_df.to_pickle("PCA_H1B_pkl")

In [95]:
subset_df= pd.read_pickle("PCA_H1B_pkl")

In [15]:
# Find unique items in columns
#subset_df.CASE_STATUS.unique()
#subset_df.WILLFUL_VIOLATOR.unique()
#subset_df.FULL_TIME_POSITION.unique()
subset_df.AGENT_REPRESENTING_EMPLOYER.unique()

array(['N', 'Y', nan], dtype=object)

In [96]:
# encoding 
cleanup_nums = { "CASE_STATUS":{'CERTIFIED': 1, 'DENIED': 2,'WITHDRAWN':3,'CERTIFIED-WITHDRAWN':4},
                "WILLFUL_VIOLATOR":{'N':0, 'nan':-1, 'Y':1},
                "FULL_TIME_POSITION":{'N':0, 'nan':-1, 'Y':1},
                "AGENT_REPRESENTING_EMPLOYER": {'N':0, 'nan':-1, 'Y':1}
               }
subset_df.replace(cleanup_nums, inplace=True)

In [97]:
subset_df.fillna(0)

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMP,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WILLFUL_VIOLATOR
0,1,0.0,1,0,1,0,0,0,0,1.0,112549.00,143915.00,0.0,0.0
1,1,1.0,1,0,0,0,0,1,0,1.0,79976.00,100000.00,0.0,0.0
2,1,0.0,1,0,0,0,0,1,0,1.0,77792.00,78240.00,0.0,0.0
3,1,1.0,5,5,0,0,0,0,0,1.0,84406.00,84406.00,85000.0,0.0
4,1,1.0,1,0,0,0,0,0,1,1.0,87714.00,95000.00,0.0,0.0
5,1,1.0,1,0,0,0,0,0,1,1.0,71864.00,74000.00,0.0,0.0
6,1,0.0,1,0,1,0,0,0,0,1.0,92331.00,114000.00,0.0,0.0
7,1,0.0,1,0,1,0,0,0,0,1.0,80579.00,80579.00,0.0,0.0
8,1,0.0,1,0,1,0,0,0,0,1.0,88317.00,90000.00,0.0,0.0
9,1,1.0,1,0,0,0,0,1,0,1.0,104790.00,105000.00,0.0,0.0
10,1,0.0,1,0,0,1,0,0,0,1.0,109325.00,115000.00,0.0,0.0
11,1,1.0,1,0,0,1,0,0,0,1.0,82638.00,82638.00,0.0,0.0
12,1,1.0,1,0,0,0,0,1,0,1.0,69701.00,90000.00,0.0,0.0
13,1,0.0,1,1,0,0,0,0,0,1.0,65707.00,65707.00,88200.0,0.0
14,1,0.0,1,1,0,0,0,0,0,1.0,30.97,38.00,0.0,0.0
15,1,0.0,1,1,0,0,0,0,0,1.0,65999.00,65999.00,0.0,0.0
16,1,1.0,1,1,0,0,0,0,0,1.0,81780.00,84564.00,0.0,0.0
17,1,1.0,1,0,1,0,0,0,0,1.0,50700.00,50700.00,0.0,0.0
18,1,1.0,1,1,0,0,0,0,0,0.0,17.90,17.90,0.0,0.0
19,2,1.0,1,1,0,0,0,0,0,1.0,23.68,25.00,25.0,0.0
20,1,1.0,1,1,0,0,0,0,0,1.0,67879.00,73093.00,73093.0,0.0
21,1,1.0,1,1,0,0,0,0,0,1.0,58597.00,58600.00,0.0,0.0
22,1,1.0,1,1,0,0,0,0,0,1.0,126539.00,126539.00,134700.0,0.0
23,1,1.0,1,1,0,0,0,0,0,1.0,110287.00,110287.00,115000.0,0.0
24,1,1.0,10,2,2,2,0,2,2,1.0,123363.00,123363.00,167500.0,0.0
25,2,1.0,10,2,2,2,0,0,2,1.0,75046.00,75046.00,0.0,0.0
26,2,1.0,2,2,0,0,0,0,0,1.0,56784.00,56784.00,75000.0,0.0
27,1,1.0,1,1,0,0,0,0,0,1.0,75717.00,75717.00,105717.0,0.0
28,1,1.0,1,1,0,0,0,0,0,1.0,53000.00,55000.00,65000.0,0.0
29,1,1.0,1,1,0,0,0,0,0,1.0,125000.00,138000.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654330,1,1.0,1,0,0,0,0,1,0,1.0,93475.00,95000.00,0.0,0.0
654331,1,1.0,1,0,1,0,0,0,0,1.0,96658.00,105756.66,0.0,0.0
654332,1,0.0,6,1,1,1,1,1,1,1.0,49.85,49.85,0.0,0.0
654333,1,0.0,1,0,0,0,0,0,1,1.0,68390.00,77825.00,0.0,0.0
654334,1,1.0,1,1,0,0,0,0,0,1.0,82326.00,90000.00,0.0,0.0
654335,1,1.0,1,1,0,0,0,0,0,1.0,49462.00,70000.00,0.0,0.0
654336,1,0.0,1,0,1,0,0,0,0,1.0,71614.00,73632.00,0.0,0.0
654337,1,1.0,3,0,0,0,0,3,0,1.0,112320.00,112320.00,0.0,0.0
654338,1,1.0,1,0,0,1,0,0,0,1.0,150675.00,230000.00,0.0,0.0
654339,1,1.0,1,0,0,0,0,1,0,1.0,92810.00,115800.00,0.0,0.0
654340,1,1.0,1,0,1,0,0,0,0,1.0,49795.00,60700.00,88200.0,0.0
654341,1,1.0,1,1,0,0,0,0,0,1.0,67246.00,75000.00,0.0,0.0
654342,1,0.0,1,1,0,0,0,0,0,1.0,69014.00,69014.00,0.0,0.0
654343,1,1.0,1,1,0,0,0,0,0,1.0,39978.00,45000.00,0.0,0.0
654344,1,1.0,1,0,1,0,0,0,0,1.0,87173.00,96890.04,0.0,0.0
654345,1,1.0,1,1,0,0,0,0,0,1.0,45781.00,45781.00,0.0,0.0
654346,1,0.0,1,0,0,0,0,0,1,1.0,86653.00,86653.00,0.0,0.0
654347,1,1.0,1,0,0,0,0,0,1,1.0,78624.00,92019.00,0.0,0.0
654348,1,0.0,1,1,0,0,0,0,0,1.0,65541.00,65541.00,96600.0,0.0
654349,1,1.0,1,0,0,0,0,0,1,1.0,85259.00,85300.00,0.0,0.0
654350,1,1.0,1,0,0,0,0,0,1,1.0,53144.00,55000.00,0.0,0.0
654351,1,0.0,1,0,0,0,0,0,1,1.0,72530.00,86000.00,0.0,0.0
654352,1,0.0,1,0,0,0,0,0,1,1.0,126547.00,126547.00,0.0,0.0
654353,1,1.0,1,0,0,0,0,0,1,1.0,67350.00,76560.00,0.0,0.0
654354,1,0.0,1,1,0,0,0,0,0,1.0,67246.00,67300.00,0.0,0.0
654355,1,0.0,1,1,0,0,0,0,0,1.0,90646.00,91000.00,0.0,0.0
654356,1,1.0,1,1,0,0,0,0,0,1.0,68598.00,74000.00,0.0,0.0
654357,1,1.0,1,1,0,0,0,0,0,1.0,65936.00,65936.00,0.0,0.0
654358,1,0.0,1,1,0,0,0,0,0,1.0,78416.00,81837.00,0.0,0.0
654359,1,0.0,1,1,0,0,0,0,0,1.0,133806.00,154381.00,0.0,0.0

In [98]:
# load class labels from column 1
case_status = subset_df['CASE_STATUS']
features=subset_df.loc[:, 'AGENT_REPRESENTING_EMPLOYER':'WILLFUL_VIOLATOR']

In [99]:
# printing some general information about the data
print('\ntotal number of samples (rows):', case_status.shape[0])
print('total number of features (columns):', features.shape[1])

total number of samples (rows): 654360
total number of features (columns): 13

In [100]:
# printing the rel.frequency of the class labels
print('Class label frequencies')
print('Class 1 samples: {:.2%}'.format(list(case_status).count(1)/case_status.shape[0]))
print('Class 2 samples: {:.2%}'.format(list(case_status).count(2)/case_status.shape[0]))
print('Class 3 samples: {:.2%}'.format(list(case_status).count(3)/case_status.shape[0]))
print('Class 4 samples: {:.2%}'.format(list(case_status).count(4)/case_status.shape[0]))

Class label frequencies
Class 1 samples: 88.55%
Class 2 samples: 1.32%
Class 3 samples: 3.25%
Class 4 samples: 6.88%

In [101]:
from sklearn.cross_validation import train_test_split
features_train, features_test, case_status_train, case_status_test = train_test_split(features, case_status,
     test_size=0.30, random_state=123)

In [102]:
# Standardization
from sklearn import preprocessing
std_scale = preprocessing.StandardScaler().fit(features_train)
features_train = std_scale.transform(features_train)
features_test = std_scale.transform(features_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [107]:
# Min-Max scaling (Normalization)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()  
features_train = sc.fit_transform(features_train)  
features_test = sc.transform(features_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [120]:
# The above error means we have a nan value, how to find it?
#With np.isnan(X) you get a boolean mask back with True for positions containing NaNs.
#With np.where(np.isnan(X)) you get back a tuple with i, j coordinates of NaNs.
#Finally, with np.nan_to_num(X) you "replace nan with zero and inf with finite numbers".



#np.any(np.isnan(features))
#np.all(np.isfinite(features))

#np.where(np.isnan(features)) 

#features=np.nan_to_num(features)

np.isnan(features_train.any())

features_train[features_train==features_train.inf]=np.nan
features_train.fillna(features_train.mean(), inplace=True)

AttributeError: 'numpy.ndarray' object has no attribute 'inf'

In [114]:
#features.fillna(0, inplace=True)
features_train.fillna(features_train.mean(), inplace=True)

In [115]:
features_train.describe()

,AGENT_REPRESENTING_EMPLOYER,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMP,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WILLFUL_VIOLATOR
count,458052.00000,458052.000000,458052.000000,458052.000000,458052.000000,458052.000000,458052.000000,458052.000000,458052.000000,4.580520e+05,4.580520e+05,4.580520e+05,458052.000000
mean,0.70099,1.982074,0.844253,0.357562,0.144195,0.015913,0.303527,0.317313,0.980107,8.268831e+04,9.185257e+04,2.560603e+04,0.000502
std,0.45782,5.597756,4.011757,1.790328,1.162789,0.274153,1.520114,1.645684,0.139633,1.477849e+06,1.478154e+06,5.532817e+04,0.022158
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.462600e+04,7.000000e+04,0.000000e+00,0.000000
50%,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.014200e+04,8.567500e+04,0.000000e+00,0.000000
75%,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,9.709400e+04,1.080140e+05,0.000000e+00,0.000000
max,1.00000,200.000000,200.000000,99.000000,75.000000,12.000000,99.000000,109.000000,1.000000,1.000000e+09,1.000000e+09,3.587372e+06,1.000000

#### Challenges
* How to handle categorical data - naics code, soc id, job title 
* How to handle dates 
* How to handle zipcodes

In [116]:
# Min-Max scaling (Normalization)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()  
features_train = sc.fit_transform(features_train)  
features_test = sc.transform(features_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [91]:
#del(subset_df)